{% extends "layout.html" %}

{% block body %}
<div class="container">
    <div class="bg-light p-2 rounded">
        <h3><strong>Editar Paciente </strong> </h3>
        <div class="row">
            <div class="col-md-10 mb-3 offset-md-1">
                <div class="card card-body">
                    <form action="/patient-update/{{patient.0}}" method="post">
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <label class="form-label">RUT:</label>
                                <input type="text" name="rut" id="rut"  class="form-control" placeholder="RUT" value="{{patient.1}}"  disabled>
                            </div>
                            <div class="col-md-8">
                                <label class="form-label">Nombre Completo</label>
                                <input type="text" name="fullname" id="height" class="form-control" value="{{patient.2}}" placeholder="Nombre completo">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <label class="form-label">Edad:</label>
                                <input type="number" name="age" id="age" class="form-control" placeholder="Edad" value="{{patient.3}}">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Estatura:</label>
                                <div class="input-group mb-3">
                                    <input type="number" name="height" id="height" class="form-control" value="{{patient.5}}" placeholder=" ej: 180" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <span class="input-group-text" id="basic-addon2">cm</span>
                                </div>

                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Peso:</label>
                                <div class="input-group mb-3">
                                    <input type="number" name="weight" id="weight" class="form-control" value="{{patient.4}}" placeholder="Peso. ej: 128.5 kg" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <span class="input-group-text" id="basic-addon2">kg</span>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-4">
                                <label class="form-label">Es fumador?:</label>
                                <select name="smoker" id="smoker" class="form-control">
                                    <option value="0"> Seleccione una opción</option>
                                {% if patient.6 == "SI" %}
                                    <option value="SI" selected>SI</option>
                                    <option value="NO">NO</option>
                                {% else %}
                                    <option value="SI">SI</option>
                                    <option value="NO" selected>NO</option>
                                {% endif %}
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Tiempo Fumando??:</label>
                                <div class="input-group mb-3">
                                    <input type="number" name="smoker-time" id="smoker-time" class="form-control" value="{{patient.7}}">
                                    <span class="input-group-text" id="basic-addon2">años</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Posee dieta?:</label>
                                <select name="diet" id="diet" class="form-control">
                                    <option value="0">Seleccione una opción</option>
                                {% if patient.8 == "SI" %}
                                    <option value="SI" selected>SI</option>
                                    <option value="NO">NO</option>
                                {% else %}
                                    <option value="SI">SI</option>
                                    <option value="NO" selected>NO</option>
                                {% endif %}
                                </select>  
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-2">
                                <a href="/patient" class="btn btn-secondary"><i class="fa fa-undo fa-lg"></i> Volver</a>
                            </div>
                            <div class="col-md-8"></div>
                            <div class="col-md-2" style="text-align: right;">
                                <button type="submit" class="btn btn-success btn-block"><i class="fa fa-save fa-lg"></i> Guardar</button>
                            </div>
                        </div>          
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
    
{% endblock %}