<!doctype html>
<html lang="es" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Haleym Hidalgo - haleymhm@gmail.com">
    <title>Prueba Técnica <strong> Python - Flask </strong></title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-Lumen.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

  </head>
  <body class="d-flex flex-column h-100">
    
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Python - Flask</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/patient">Pacientes</a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Configuración
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/specialist">Especialistas</a></li>
                  <li><a class="dropdown-item" href="/specialty">Especialidades</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/institution">Centro Médico</a></li>
                </ul>
              </li>
              <a class="btn btn-secondary btn-sm mt-2">Crear Cita</a>
            </ul>
            <span class="badge rounded-pill bg-secondary"><h5 style="margin-left: 10px; margin-right: 10px;margin-top: 5px;"> {{ session['fullname'] }}  
              <a href="/logout" class="alert-link" data-bs-toggle="tooltip" title="Cerrar Sesión!">
                <i class="fa fa-power-off" style="color:#C0392B" aria-hidden="true"></i>
              </a></h5>
            </span>            
          </div>
        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main class="flex-shrink-0">
      <hr /> <hr /> <hr />
      <div class="container">
        {% block body %}
        {% endblock %}
      </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <span class="text-muted">Haleym Hidalgo - haleymhm@gmil.com</span>
      </div>
    </footer>


    <!-- scripts -->
    <script src="{{url_for('static', filename='js/jquery-3.3.1.slim.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>

  </body>
</html>